<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>
<div layout:fragment="content">
    <h4 th:text="#{product.detail.page.title}">product detail title</h4>

    <table th:object="${product}">
        <tr>
            <th>ProductId</th>
            <td><b th:text="*{productId}"></b></td>
        </tr>
        <tr>
            <th>Title</th>
            <td th:text="*{title}"></td>
        </tr>
        <tr>
            <th>TotalInvestingAmount</th>
            <td th:text="*{totalInvestingAmount}"></td>
        </tr>
        <tr>
            <th>AccumInvestingAmount</th>
            <td th:text="*{accumInvestingAmount}"></td>
        </tr>
        <tr>
            <th>InvestingUserCount</th>
            <td th:text="*{investingUserCount}"></td>
        </tr>
        <tr>
            <th>OpenAt</th>
            <td th:text="*{openAt}"></td>
        </tr>
        <tr>
            <th>CloseAt</th>
            <td th:text="*{closeAt}"></td>
        </tr>
    </table>

    <a th:href="@{__${product.productId}__/edit}" class="btn btn-primary">Edit</a>
    <a th:href="@{/products}" class="btn btn-primary">Back to List</a>
</div>
</body>

</html>
