<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>
<div layout:fragment="content">
    <h4 th:text="#{product.list.page.title}">product list title</h4>

    <br>
    <table>
        <tr>
            <th th:text="#{product.list.productId}"></th>
            <th th:text="#{product.list.title}"></th>
            <th th:text="#{product.list.totalInvestingAmount}"></th>
            <th th:text="#{product.list.accumInvestingAmount}"></th>
            <th th:text="#{product.list.investingUserCount}"></th>
            <th th:text="#{product.list.openAt}"></th>
            <th th:text="#{product.list.closeAt}"></th>
        </tr>
        <tr th:if="${not #arrays.isEmpty(productList)}" th:each="item,itemStat : ${productList}">
            <td><a th:href="@{products/{productId}(productId=${item.productId})}" th:text="${item.productId}"></a></td>
            <td><a th:href="@{products/{productId}(productId=${item.productId})}" th:text="${item.title}"></a></td>
            <td><a th:href="@{products/{productId}(productId=${item.productId})}" th:text="${item.totalInvestingAmount}"></a></td>
            <td><a th:href="@{products/{productId}(productId=${item.productId})}" th:text="${item.accumInvestingAmount}"></a></td>
            <td><a th:href="@{products/{productId}(productId=${item.productId})}" th:text="${item.investingUserCount}"></a></td>
            <td><a th:href="@{products/{productId}(productId=${item.productId})}" th:text="${item.openAt}"></a></td>
            <td><a th:href="@{products/{productId}(productId=${item.productId})}" th:text="${item.closeAt}"></a></td>
<!--            <td><a th:href="@{detail(mailIdx=${item.mailIdx})}" th:text="${item.messageList[0].message}">message</a></td>-->
<!--            <td th:text="*{#temporals.format(item.sendAt, 'yyyy-MM-dd HH:mm')}">sendAt</td>-->
<!--            <td th:text="${item.expireHour}">expireHour</td>-->
<!--            <td th:text="*{#temporals.format(item.expireAt, 'yyyy-MM-dd HH:mm')}">expireAt</td>-->
<!--            <td><span th:if="${listOutput.reservedCheckList[__${itemStat.index}__]}" th:text="#{mail.list.label.reserved}">reserved</span></td>-->
        </tr>
    </table>
    <label th:if="${#arrays.isEmpty(productList)}" th:text="#{common.label.noResult}"></label>

    <!-- prev/next로 페이지 표시-->
    <br>
<!--    <form th:if="${listOutput.page.prev}" style="display:inline-block;" action="#" th:action="@{/mail_all/list}" th:object="${listInput}" method="get">-->
<!--        &lt;!&ndash; 페이지 처리용 필드&ndash;&gt;-->
<!--        <input type="hidden" name="page.offset" th:value="${listOutput.page.prevOffset}"/>-->
<!--        <input type="hidden" name="page.limit" th:value="${listOutput.page.limit}"/>-->
<!--        <input type="submit" th:value="#{common.button.prev}">-->
<!--    </form>-->
<!--    <form th:if="${listOutput.page.next}" style="display:inline-block; margin-left:200px;" action="#" th:action="@{/mail_all/list}" th:object="${listInput}" method="get">-->
<!--        &lt;!&ndash; 페이지 처리용 필드&ndash;&gt;-->
<!--        <input type="hidden" name="page.offset" th:value="${listOutput.page.nextOffset}"/>-->
<!--        <input type="hidden" name="page.limit" th:value="${listOutput.page.limit}"/>-->
<!--        <input type="submit" th:value="#{common.button.next}">-->
<!--    </form>-->
</div>
</body>

</html>